    <% if notice %>
      <div class="alert alert-success col-12"><%= notice %></div>
    <% end %>

    <% if @participant.errors.any? %>
        <div class="alert alert-danger col-12">
          <div id="error_explanation">
            <ul>
              <% @participant.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      </div>
    <% end %>

    <%= form_for @participant do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :rg %>
        <%= form.text_field :rg, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit nil, :class => "btn btn-primary" %>
      </div>
    <% end %>
