    <% if notice %>
      <div class="alert alert-success col-12"><%= notice %></div>
    <% end %>

    <% if @certificado.errors.any? %>
        <div class="alert alert-danger col-12">
          <div id="error_explanation">
            <ul>
              <% @certificado.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      </div>
    <% end %>

    <%= form_for @certificado do |form| %>
      <div class="form-group">
        <%= form.label :ano %>
        <%= form.text_field :ano, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :data_emissao %>
        <%= form.text_field :data_emissao,value: "#{l(@certificado.data_emissao, default: "")}", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :aluno %>
        <%= form.select :aluno_id, options_for_select(Aluno.all.map{|aluno|[aluno.nome, aluno.id]}, value_selected(@certificado.aluno)), {include_blank: 'Selecione uma opção'}, { class: 'select2_group form-control'} %>
      </div>
      <div class="form-group">
        <%= form.label :evento %>
        <%= form.select :evento_id, options_for_select(Evento.all.map{|evento|[evento.descricao, evento.id]}, value_selected(@certificado.evento)), {include_blank: 'Selecione uma opção'}, { class: 'select2_group form-control'} %>
      </div>
      <div class="form-group">
        <%= form.label :titulo %>
        <%= form.text_field :titulo, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :periodo_inicial %>
        <%= form.text_field :periodo_inicial, value: "#{l(@certificado.periodo_inicial, default: "")}", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :periodo_final %>
        <%= form.text_field :periodo_final, value: "#{l(@certificado.periodo_final, default: "")}" , class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :carga_horaria %>
        <%= form.text_field :carga_horaria, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :certification_type %>
        <%= form.select :certification_type_id, options_for_select(CertificationType.all.map{|certification_type|[certification_type.description, certification_type.id]}, value_selected(@certificado.certification_type)), {include_blank: 'Selecione uma opção'}, { class: 'select2_group form-control'} %>
      </div>
      <div class="form-group">
        <%= form.label :dados_adicionais %>
        <%= form.text_field :dados_adicionais, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :emission_sector %>
        <%= form.select :emission_sector_id, options_for_select(EmissionSector.all.map{|emission_sector|[emission_sector.description, emission_sector.id]}, value_selected(@certificado.emission_sector)), {include_blank: 'Selecione uma opção'}, { class: 'select2_group form-control'} %>

      </div>
      <div class="form-group">
        <%= form.label :anexo %>
        <%= form.file_field :anexo, accept: 'application/pdf'  %>

      </div>
      <div class="form-group">
        <%= form.label :observacoes %>
        <%= form.text_field :observacoes, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit nil, :class => "btn btn-primary" %>
      </div>
    <% end %>

<script>
  window.onload = function(){
    $('#certificado_data_emissao, #certificado_periodo_inicial, #certificado_periodo_final').daterangepicker({
      locale: {
        format: "DD/MM/YYYY",
        separator: " - ",
        applyLabel: "Aplicar",
        cancelLabel: "Cancelar",
        daysOfWeek: [
          "Dom",
          "Seg",
          "Ter",
          "Qua",
          "Qui",
          "Sex",
          "Sab"
        ],
        monthNames: [
          "Janeiro",
          "Fevereiro",
          "Março",
          "Abril",
          "Maio",
          "Junho",
          "Julho",
          "Agosto",
          "Setembro",
          "Outubro",
          "Novembro",
          "Dezembro"
        ],
        firstDay: 1
      },
      minDate: getMindate(),
      maxDate: getMaxdate(),
      singleDatePicker: true,
      showDropdowns: true,
      autoUpdateInput: false
    });

    function getMaxdate() {
      let today = new Date();
      return new Date(today.setMonth(today.getMonth() + 1))
    }

    function getMindate() {
      let today = new Date();
      return new Date(today.setMonth(today.getMonth() - 60))
    }
  };
</script>
