  <tr class="even pointer">
    <td class=" "><%= certificate.id %></td>
    <td class=" "><%= certificate.participant.name %></td>
    <td class=" "> <%= certificate.title %> </td>
    <td class=" "> <%= l(certificate.initial_period) %> - <%= l(certificate.final_period) %> </td>
    <td class=" "> ____________________________________________________</td>
  </tr>
