  <tr class="even pointer">
    <td class=" "><%= certificado.id %></td>
    <td class=" "><%= certificado.participant.name %></td>
    <td class=" "> <%= certificado.titulo %> </td>
    <td class=" "> <%= l(certificado.periodo_inicial) %> - <%= l(certificado.periodo_final) %> </td>
    <td class=" "> ____________________________________________________</td>
  </tr>
