<div class="x_panel">
  <div class="title_left">
    <h3>Gerar Remessa</h3>
  </div>
  <div class="x_content row">
    <% if flash.any? %>
        <div class="alert alert-danger col-12">
          <div id="error_explanation">
            <ul>
              <% flash.each do |type, msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      </div>
    <% end %>

    <%= form_with(url: shipping_path, local: true, method: :get, class: "col-12 pt-5 pb-5") do |form| %>
      <div class="form-row">
        <div class="text-left">
          <%= form.label "Número:", class: "col-form-label-lg" %>
        </div>
        <div class="col-6">
          <%= form.text_field :term, value: @term, class: "form-control form-control-lg", placeholder: 'Ex: 12, 7, 10-13' %>
        </div>
        <div class="col-3">
          <input type="submit" value="Pesquisar" class="btn btn-primary btn-lg">
        </div>
      </div>
    <% end %>

    <% if @certificados.any? %>
    <table class="table table-striped jambo_table bulk_action col-12">
      <thead>
        <tr class="headings">
          <th class="column-title">ID </th>
          <th class="column-title">Participante </th>
          <th class="column-title">Título </th>
          <th class="column-title">Período </th>
          <th class="column-title">Recebimento </th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "certificado", collection: @certificados %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
